{% extends "layout.html" %}
{% block head %}
<style>
.nav-tabs.amp-header {
  border-bottom:none !important;
}

.card-header.amp-header {
  border-bottom:none !important;
}
.nav-tabs.amp-header .nav-link.active {
  background-color:lightsteelblue;
  border-bottom:lightsteelblue;
}

.tab-content.amp-body {
  background-color:lightsteelblue;
}

@media print {
   .tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
		margin-bottom: 2em !important;
		page-break-inside: avoid;
  }
  .nav-tabs {
    display:none !important;
    visibility:hidden !important;
  }
  .tab-content.amp-body {
    background-color:transparent !important;
  	border:None !important;
  }
}
@media only screen and (max-width: 600px) {
	.jumbotron img {
		width:100%
	}
}
</style>

{% endblock %}

{% block content %}
<div class="col-sm-1"></div>
<div class="col-sm-10">

	<div class="jumbotron" style="background:rgba(0,0,0,0.0); padding:0px" >
		<div id='jumbotron_content' >

          {% if window_nuc_pct_quilts|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>Nucleotide percentages in the quantification window</h5>
              </div>
              <div class='card-body'>
              {% for plot in window_nuc_pct_quilts %}
                {% set amplicon_name = plot | replace(".Quantification_Window_Nucleotide_Percentage_Quilt.pdf","") %}
                {% if window_nuc_pct_quilts|length > 1 %}<h5>{{amplicon_name}}</h5>{% endif %}
                <a href="{{plot}}"><img src="{{plot|replace('.pdf','.png')}}" width='80%' ></a>
  							<label class="labelpadding">Composition of each base in the quantification window for the amplicon {{amplicon_name}}.</label>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if nuc_pct_quilts|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>Nucleotide percentages in the entire amplicon</h5>
              </div>
              <div class='card-body'>
              {% for plot in nuc_pct_quilts %}
                {% set amplicon_name = plot | replace(".Nucleotide_Percentage_Quilt.pdf","") %}
                {% if nuc_pct_quilts|length > 1 %}<h5>{{amplicon_name}}</h5>{% endif %}
                <a href="{{plot}}"><img src="{{plot|replace('.pdf','.png')}}" width='80%' ></a>
                <label class="labelpadding">Composition of each base in the amplicon {{amplicon_name}}.</label>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if window_nuc_conv_plots|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>Conversion of target bases in the quantification window</h5>
              </div>
              <div class='card-body'>
              {% for plot in window_nuc_conv_plots %}
                {% set amplicon_name = plot | replace(".Quantification_Window_Nucleotide_Conversion.pdf","") %}
                {% if window_nuc_conv_plots|length > 1 %}<h5>{{amplicon_name}}</h5>{% endif %}
                <a href="{{plot}}"><img src="{{plot|replace('.pdf','.png')}}" width='80%' ></a>
                <label class="labelpadding">Conversion of each target base in the quantification window for {{amplicon_name}}.</label>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if nuc_conv_plots|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>Conversion of target bases in the entire amplicon</h5>
              </div>
              <div class='card-body'>
              {% for plot in nuc_conv_plots %}
                {% set amplicon_name = plot | replace(".Nucleotide_Conversion.pdf","") %}
                {% if nuc_conv_plots|length > 1 %}<h5>{{amplicon_name}}</h5>{% endif %}
                <a href="{{plot}}"><img src="{{plot|replace('.pdf','.png')}}" width='80%' ></a>
                <label class="labelpadding">Conversion of each target base in the {{amplicon_name}}.</label>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if sub_html_files|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>CRISPResso batch output</h5>
              </div>
              <div class='card-body p-0'>
                <div class="list-group list-group-flush">
              {% for file in sub_html_files %}
                {% set run_name = file | replace("CRISPResso_on_","") | dirname %}
                <a href="{{file}}" class="list-group-item list-group-item-action">{{run_name}}</a>
                {% endfor %}
              </div>
            </div>
            </div>
          {% endif %}

          </div>

        </div>

	</div> {# jumbotron_content #} <!-- end jumbotron_content -->
</div> {# jumbrotron #} <!-- end jumbotron -->

</div> {# column #} <!-- end column -->

<div class="col-sm-1"></div>
{% endblock %}

{% block foot %}
{% endblock %}
