{% if failed_runs|length > 0 %}
<div class='card text-center mb-2'>
    <div class="card-header bg-danger d-flex justify-content-center align-items-center" title="Click to expand all error messages" onclick="toggleAllDescriptions()">
    <!-- Center the title and button -->
    <h5 id="failed_runs" class="mb-0 text-white">Failed Runs</h5>
    <button class="btn btn-danger ml-2" id="failedRunToggleAll" >
        <i class="fas fa-chevron-down" id="failedRunChevronIcon"></i>
    </button>
    </div>

    <div class='card-body p-0'>
      <div class="list-group list-group-flush">
        {% for failed_run in failed_runs %}
        {# Toggle the description visibility on click #}
        <a href="javascript:void(0)" class="list-group-item list-group-item-action failed-run-name bg-light text-dark"
        id="failed_run_{{loop.index0}}" title="Click to expand error message" onclick="toggleDescription({{loop.index0}})">
          {{failed_run}}
        </a>
        {# Initially hide the description and add a light background with dark text for readability #}
        <div class="list-group-item text-dark failed-run-desc" id="failed_run_desc_{{loop.index0}}" style="display: none;">
          {{failed_runs_desc[loop.index0]}}
        </div>
        {% endfor %}
      </div>
    </div>
</div>

<script>
  // Function to toggle individual descriptions
  function toggleDescription(index) {
    var desc = document.getElementById("failed_run_desc_" + index);
    desc.style.display = desc.style.display === "none" ? "block" : "none";
    updateChevron();
  }

  // Function to toggle all descriptions
  function toggleAllDescriptions() {
    var descs = document.querySelectorAll('.failed-run-desc');
    var allHidden = Array.from(descs).every(desc => desc.style.display === "none");

    descs.forEach(desc => {
      desc.style.display = allHidden ? "block" : "none";
    });

    updateChevron();
  }

  // Function to update the chevron direction based on the visibility of the descriptions
  function updateChevron() {
    var descs = document.querySelectorAll('.failed-run-desc');
    var allHidden = Array.from(descs).every(desc => desc.style.display === "none");
    var failedRunChevronIcon = document.getElementById("failedRunChevronIcon");
    if (allHidden) {
      failedRunChevronIcon.classList.remove("fa-chevron-up");
      failedRunChevronIcon.classList.add("fa-chevron-down");
    } else {
      failedRunChevronIcon.classList.remove("fa-chevron-down");
      failedRunChevronIcon.classList.add("fa-chevron-up");
    }
  }

  // Call updateChevron on page load to set the initial chevron direction
  document.addEventListener('DOMContentLoaded', updateChevron);
</script>
{% endif %}
