{% extends "layout.html" %}
{% block head %}
<style>
.nav-tabs.amp-header {
  border-bottom:none !important;
}

.card-header.amp-header {
  border-bottom:none !important;
}
.nav-tabs.amp-header .nav-link.active {
  background-color:lightsteelblue;
  border-bottom:lightsteelblue;
}

.tab-content.amp-body {
  background-color:lightsteelblue;
}

@media print {
   .tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
		margin-bottom: 2em !important;
		page-break-inside: avoid;
  }
  .nav-tabs {
    display:none !important;
    visibility:hidden !important;
  }
  .tab-content.amp-body {
    background-color:transparent !important;
  	border:None !important;
  }
}
@media only screen and (max-width: 600px) {
	.jumbotron img {
		width:100%
	}
}
</style>

{% endblock %}

{% block content %}
<div class="col-sm-1"></div>
<div class="col-sm-10">

	<div class="jumbotron" style="background:rgba(0,0,0,0.0); padding:0px" >
		<div id='jumbotron_content' >

          {% if run_names|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>{{report_name}}</h5>
              </div>
              <div class='card-body p-0'>
                <div class="list-group list-group-flush" style='max-height:80vh;overflow-y:auto'>
              {% for run_name in run_names %}
	      <a href="{{crispresso_data_path}}{{sub_html_files[run_name]}}" class="list-group-item list-group-item-action">{{run_name}}</a>
                {% endfor %}
              </div>
            </div>
            </div>
          {% endif %}

          {% if window_nuc_pct_quilts|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>Nucleotide percentages around guides</h5>
              </div>
              <div class='card-body'>
                {% for plot_name in window_nuc_pct_quilts %}
                  <h5>{{summary_plot_titles[plot_name]}}</h5>
		  <a href="{{crispresso_data_path}}{{plot_name}}.pdf"><img src="{{crispresso_data_path}}{{plot_name}}.png" width='80%' ></a>
                  <label class="labelpadding">{{summary_plot_labels[plot_name]}}</label>
  							  {% for (data_label,data_path) in summary_plot_datas[plot_name] %}
							  <p class="m-0"><small>Data: <a href="{{crispresso_data_path}}{{data_path}}">{{data_label}}</a></small></p>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if nuc_pct_quilts|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>Nucleotide percentages in the entire amplicon</h5>
              </div>
              <div class='card-body'>
                {% for plot_name in nuc_pct_quilts %}
                  <h5>{{summary_plot_titles[plot_name]}}</h5>
		  <a href="{{crispresso_data_path}}{{plot_name}}.pdf"><img src="{{crispresso_data_path}}{{plot_name}}.png" width='80%' ></a>
                  <label class="labelpadding">{{summary_plot_labels[plot_name]}}</label>
  							  {% for (data_label,data_path) in summary_plot_datas[plot_name] %}
							  <p class="m-0"><small>Data: <a href="{{crispresso_data_path}}{{data_path}}">{{data_label}}</a></small></p>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if window_nuc_conv_plots|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>Conversion of target bases around guides</h5>
              </div>
              <div class='card-body'>
                {% for plot_name in window_nuc_conv_plots %}
                  <h5>{{summary_plot_titles[plot_name]}}</h5>
		  <a href="{{crispresso_data_path}}{{plot_name}}.pdf"><img src="{{crispresso_data_path}}{{plot_name}}.png" width='80%' ></a>
                  <label class="labelpadding">{{summary_plot_labels[plot_name]}}</label>
  							  {% for (data_label,data_path) in summary_plot_datas[plot_name] %}
							  <p class="m-0"><small>Data: <a href="{{crispresso_data_path}}{{data_path}}">{{data_label}}</a></small></p>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if nuc_conv_plots|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>Conversion of target bases in the entire amplicon</h5>
              </div>
              <div class='card-body'>
                {% for plot_name in nuc_conv_plots %}
                  <h5>{{summary_plot_titles[plot_name]}}</h5>
		  <a href="{{crispresso_data_path}}{{plot_name}}.pdf"><img src="{{crispresso_data_path}}{{plot_name}}.png" width='80%' ></a>
                  <label class="labelpadding">{{summary_plot_labels[plot_name]}}</label>
  							  {% for (data_label,data_path) in summary_plot_datas[plot_name] %}
							  <p class="m-0"><small>Data: <a href="{{crispresso_data_path}}{{data_path}}">{{data_label}}</a></small></p>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endif %}

          {% if summary_plot_names|length > 0 %}
            {% for plot_name in summary_plot_names %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>{{summary_plot_titles[plot_name]}}</h5>
              </div>
              <div class='card-body'>
		      <a href="{{crispresso_data_path}}{{plot_name}}.pdf"><img src="{{crispresso_data_path}}{{plot_name}}.png" width='80%' ></a>
                <label class="labelpadding">{{summary_plot_labels[plot_name]}}</label>
							  {% for (data_label,data_path) in summary_plot_datas[plot_name] %}
							  <p class="m-0"><small>Data: <a href="{{crispresso_data_path}}{{data_path}}">{{data_label}}</a></small></p>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          {% endif %}

          {% if allele_modification_heatmap_plot_names|length > 0 %}
            {% for heatmap_plot_name in allele_modification_heatmap_plot_names %}
              {% set line_plot_name = allele_modification_line_plot_names[loop.index - 1] %}
              {% set modification_type = heatmap_plot_name.split('_')[3] %}
              <div class="card text-center mb-2">
                <div class="card-header">
                    <h5>{{allele_modification_heatmap_plot_titles[heatmap_plot_name]}}</h5>
                    <ul class="nav nav-tabs justify-content-center card-header-tabs" id="aln-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" id="{{modification_type}}-heatmap-tab" data-bs-target="#{{heatmap_plot_name}}" role="tab" aria-controls="{{heatmap_plot_name}}" aria-selected="true">Heatmap</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" id="{{modification_type}}-line-tab" data-bs-target="#{{line_plot_name}}" role="tab" aria-controls="{{line_plot_name}}" aria-selected="false">Line</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="allele-modification-{{modification_type}}-tabs">
                        <div class="tab-pane fade show active" id="{{heatmap_plot_name}}" role="tabpanel" aria-labelledby="{{modification_type}}-heatmap-tab">
                            {{allele_modification_heatmap_plot_htmls[heatmap_plot_name]}}
                            <label class="labelpadding">{{allele_modification_heatmap_plot_labels[heatmap_plot_name]}}</label>
                            {% for (data_label, data_path) in allele_modification_heatmap_plot_datas[heatmap_plot_name] %}
                                <p class="m-0"><small>Data: <a href="{{crispresso_data_path}}{{data_path}}">{{data_label}}</a></small></p>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="{{line_plot_name}}" role="tabpanel" aria-labelledby="{{modification_type}}-line-tab">
                            {{allele_modification_line_plot_htmls[line_plot_name]}}
                            <label class="labelpadding">{{allele_modification_line_plot_labels[line_plot_name]}}</label>
                            {% for (data_label, data_path) in allele_modification_line_plot_datas[line_plot_name] %}
                                <p class="m-0"><small>Data: <a href="{{crispresso_data_path}}{{data_path}}">{{data_label}}</a></small></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
              </div>
              <script type="application/javascript">
               document.addEventListener("DOMContentLoaded", () => {
                   $("#{{modification_type}}-heatmap-tab").on("shown.bs.tab", (e) => {
                       let plot = document.getElementById("allele-modification-heatmap-{{modification_type}}");
                       Plotly.Plots.resize(plot);
                       window.dispatchEvent(new Event("resize"));
                   });
                   $("#{{modification_type}}-line-tab").on("shown.bs.tab", (e) => {
                       let plot = document.getElementById("allele-modification-line-{{modification_type}}");
                       Plotly.Plots.resize(plot);
                       window.dispatchEvent(new Event("resize"));
                   });
               });
              </script>
            {% endfor %}
              <!-- The below code is another failed attempt to make the heatmaps go fullscreen.
                   To implement this behavior, wrap the `allele_modification_heatmap_plot_htmls[plot_name]` in a `div`
                   of class `plotly-full-screen`. -->
              <!-- <style>
                   .plot-zoom {
                   position: absolute;
                   border: none;
                   background-color: transparent;
                   bottom: 0;
                   right: 0;
                   }
                   .full-screen {
                   position: fixed;
                   height: 98vh !important;
                   width: 98vw !important;
                   left: 0;
                   top: 0;
                   z-index: 9999;
                   overflow: hidden;
                   }
                   </style> -->
              <!-- <script type="application/javascript">
                   const plotZoom = (el) => {
                   el = $(el);
                   let parent = el.parent().parent();
                   if (el.attr("data-full_screen") === "false") {
                   parent.addClass("full-screen").trigger("resize").fadeOut().fadeIn();
                   el.attr("data-full_screen", "true");
                   Plotly.Plots.resize(parent.find(".plotly-graph-div")[0]);
                   } else {
                   parent.removeClass("full-screen").trigger("resize").fadeOut().fadeIn();
                   el.attr("data-full_screen", "false");
                   Plotly.Plots.resize(parent.find(".plotly-graph-div")[0]);
                   }
                   }
                   document.addEventListener("DOMContentLoaded", () => {
                   $(function() {
                   $(".plotly-full-screen").append(`
                   <div style="position: relative;">
                   <button onclick=plotZoom(this) class="plot-zoom" data-full_screen="false" title="Full Screen">
                   <i class="fa fa-expand-arrows-alt"></i>
                   </button>
                   </div>
                   `);
                   });
                   });
                   </script> -->
          {% endif %}

          {% if compact_plots_to_show|length > 0 %}
            <div class='card text-center mb-2'>
              <div class='card-header'>
                <h5>Summary Plots</h5>
              </div>
              <div class='card-body p-0'>
                <div class="list-group list-group-flush" style='max-height:80vh;overflow-y:auto'>
							  {% for compact_plot in compact_plots_to_show %}
	      <a href="{{crispresso_data_path}}{{compact_plots_to_show[compact_plot]['href']}}" data-toggle="tooltip" title="{{compact_plot}}" class="list-group-item list-group-item-action p-0"><img src="{{crispresso_data_path}}{{compact_plots_to_show[compact_plot]['img']}}" width='100%' ></a>
                {% endfor %}
              </div>
              </div>
            </div>
          {% endif %}


          </div>

        </div>

	</div> {# jumbotron_content #} <!-- end jumbotron_content -->
</div> {# jumbrotron #} <!-- end jumbotron -->

</div> {# column #} <!-- end column -->

<div class="col-sm-1"></div>
{% endblock %}

{% block foot %}
{% endblock %}
